/* font-family: 'Open Sans', sans-serif;
font-family: 'Peddana', serif;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

header {
    margin: auto;
    border: 5px solid black;
    border-radius: 25px;
    width: 800px;
    background-color: lightgrey;
}

.center {
    margin: auto;
    width: 800px;
}

footer {
    margin: auto;
    width: 800px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: lightskyblue;
}