/* small css file for lesson 2 */

body {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    border: 5px solid black;
    border-radius: 25px;
    background-color: lightblue;
}

h1 {
    font-style: italic;
}

.card {
    background-color: lightgrey;
}

h3, a{
    padding: 5px;
    font-style: italic;
}

img {
    width: 95%;
}