body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

header {
    text-align: center;
    margin: auto;
    width: 800px;
    padding: 20px;
    background-color: lightblue;
    border-radius: 5px;
}

.first, .second,  .third {
    background-color:lightblue;
    margin: auto;
    width: 700px;
    height: 600px;
    border-radius: 5px;
}

.first img, .second img, .third img{
    float: right;
    padding: 5px;
}

.first p, .second p, .third p, h2, a{
    padding: 5px;
    text-align: left;
    font-size:1.5em;
}
