h1 {
    text-align: center;
}

h2 {
    text-align: left;
}

header {
    margin: auto;
    border: 5px solid black;
    border-radius: 25px;
    width: 400px;
    background-color: lightgrey;
}

.center {
    margin: auto;
    width: 400px;
}

footer {
    margin: auto;
    width: 400px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: lightskyblue;
}