/* small css file for lazyload images*/

body {
    font-family: 'Poppins', sans-serif;
}

header {
    justify-content: center;
    display: flex;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: lightblue;
}

h1 {
    text-align: center;
}

picture {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
}

picture, img[data-src] {
    filter: blur(0.2em);
}

picture, img {
    filter: blur(0em);
    transition: filter 0.5s;
}